
.heading {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font: 24px;
}

.link {
    text-align:left;
    font-family:'Times New Roman', Times, serif;
    font: 12px;
}
